@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Prata&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Poppins", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0b0b0b;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

[data-theme="dark"] {
  --bg-color: black;
  --text-color: #ffffff;
  --card-bg-color: #171717;
}

[data-theme="light"] {
  --bg-color: #f1f1f1;
  --text-color: #213547;
  --card-bg-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.card {
  background-color: var(--card-bg-color);
}

button:focus-visible {
  outline: 2px solid #ff8c00;
  outline-offset: 4px;
}
